/** font variables */

$font-primary: 'Poppins',
sans-serif;
$body-color :#666666;
$body-bg-color: #E5E5E5;

$header-bg-color: #16B68F !default;
$header-secodary-bg-color: #282A29;
$nav-item-color:#FFFFFF;
$nav-item-active-bg-color: #282A29;

$button-primary-bg-color: #127DD9;

$bg-white: #ffffff;
