<div class="header-secondary">
  <div class="container">
    <div class="d-flex align-items-center">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-primary p-0 mb-0">
          <li class="breadcrumb-item">
            <a [routerLink]="['../../','list']">All Admins</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Rosemary Bell</li>
        </ol>
      </nav>
      <div class="ml-auto">
        <button type="button" class="btn btn-primary button-primary mr-3">
          <span class="mr-2">
            <img src="assets/images/phone.png">
          </span>
          Call
        </button>
        <button type="button" class="btn btn-primary button-primary mr-3">
          <span class="mr-2">
            <img src="assets/images/msg.png">
          </span>Message
        </button>
        <button type="button" class="btn btn-primary button-primary">
          <span class="mr-2">
            <img src="assets/images/edit.png">
          </span>Edit Profile
        </button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div>
    <div class="admin-profile py-5 ">
      <figure class="text-center ">
        <img src="assets/images/admins/admin-profilepic-1.png">
      </figure>
      <h3 class="text-center">Theresa Fox</h3>
      <div class="py-3">
        <div class="row font-text-primary">
          <div class="col-lg-6 text-right">
            <p class="font-text-primary">Phone Number</p>
          </div>
          <div class="col-lg-6 text-left ">
            <p class="font-text-primary font-weight-bold">239.555.0108</p>
          </div>


        </div>

        <div class="row ">
          <div class="col-lg-6 text-right">
            <p class="font-text-primary">Employee Number</p>
          </div>
          <div class="col-lg-6 text-left">
            <p class="font-text-primary font-weight-bold">810 </p>
          </div>
        </div>
        <div class="row ">
          <div class="col-lg-6 text-right">
            <p>Admin Privileges</p>
          </div>
          <div class="col-lg-6 text-left">
            <p class="font-text-primary font-weight-bold">Limited</p>
          </div>


        </div>
        <div class="row ">
          <div class="col-lg-6 text-right">
            <p class="font-text-primary">Projects</p>
          </div>
          <div class="col-lg-6 text-left">
            <p class="font-text-primary font-weight-bold">All Project</p>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
