<header class="header">
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-dark py-0 px-0">
      <a class="navbar-brand py-0" [routerLink]="'/'">
        <img [src]="'assets/images/theBirdsEye.svg'">
      </a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" [routerLinkActive]="'active'">
            <a class="nav-link" [routerLink]="'dashboard'">
              <span>
                <img src="assets/images/dashboard.svg">
              </span>
              Dashboard
            </a>
          </li>
          <li class="nav-item" [routerLinkActive]="'active'">
            <a class="nav-link" [routerLink]="'projects'">
              <span>
                <img src="assets/images/projects.svg">
              </span>
              Projects</a>
          </li>
          <li class="nav-item" [routerLinkActive]="'active'">
            <a class="nav-link" [routerLink]="'admins'">
              <span>
                <img src="assets/images/admin.svg">
              </span>
              Admins
            </a>
          </li>
          <li class="nav-item" [routerLinkActive]="'active'">
            <a class="nav-link" [routerLink]="'salereps'">
              <span>
                <img src="assets/images/salesreps.svg">
              </span>
              Sales Reps
            </a>
          </li>
          <li class="nav-item" [routerLinkActive]="'active'">
            <a class="nav-link" [routerLink]="'customers'">
              <span>
                <img src="assets/images/customers.svg">
              </span>
              Customers</a>
          </li>
          <li class="nav-item" [routerLinkActive]="'active'">
            <a class="nav-link" [routerLink]="'account'">
              <span>
                <img src="assets/images/account.svg">
              </span>
              Account
            </a>
          </li>

        </ul>
      </div>
    </nav>
  </div>
</header>
